@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}
@font-face {
    font-family: 'Jersey10';
    src: url('../../public/fonts/Jersey10-Regular.ttf');
}
@font-face {
    font-family: 'Oi';
    src: url('../../public/fonts/Oi-Regular.ttf');
}
@font-face {
    font-family: 'Bitcount';
    src: url('../../public/fonts/Bitcount-VariableFont_CRSV\,ELSH\,ELXP\,slnt\,wght.ttf');
}